@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    background-color: brown;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.espacio{
    color:white;
}
h1{
    color: antiquewhite;
    background-size: contain;
    align-self: flex-end;
    height: 67px;
    font-family: "roboto", sans-serif;
}
h2{
    background-color:burlywood;
    height: 35px;
    font-family: "roboto", sans-serif;
    color:brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    margin:3%;
    font-family: "roboto", sans-serif;
    font-size: 20px;
}
.roja{
    color:red;
}
.bold{
    color:seagreen;
    font-weight: bold;
}
.icono{
    height: 75px;
    background-color:whitesmoke;
    border-radius: 50%;
    margin: 1%;
}
#bloque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: brown;
    background-size: contain;
    padding-bottom: 100px;

}
#bloque img{
    height: 400px;
}


section{
    text-align: center;
}

#bloque p{
    font-family: 'Roboto';
    color: white;
    margin-top: 50px;
   

}


